<section id="backend-<%= backend.model_name %>" class="bg-white rounded-lg shadow-xl relative">
  <header class="flex items-center h-16 border-b border-slate-200 px-8 md:px-5">
    <h1 class="font-bold text-lg">Edit <%= backend.model_name %>: <%= @resource.to_s %></h1>
    <%= link_to "Back to #{backend.model_name.pluralize}", resources_path, class: "ml-auto button-header bg-slate-500" %>
  </header>
  <%= simple_form_for @resource, url: resource_path(@resource), html: { class: "resource-form" } do |form| %>
    <%= render "fields", form: form %>
    <div class="p-4 w flex justify-end">
      <%= form.submit class: "button-submit" %>
    </div>
  <% end %>
</section>

<div class="py-10">
  <%= button_to "Delete", resource_path(@resource), method: :delete, class: "button-destroy" %>
</div>
